// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todo {
	margin-top: 20px;
}

#completes {
	margin-top: 20px;
}

#completes a {
	.has-tip {
		color: #ccc;
		cursor: pointer;
	}
	color: #ccc
}

